@model move_store_app.data.MoviesRepo
@{
    ViewData["Title"] = "Edit";
}
<style>
    body {
        background-color: #FFD580;
    }
    img{
        transition: transform 0.3s ease-in-out;
    }
    button:hover,img:hover{
        transform: scale(1.05);
        transition: 0.7s transform;
    }
</style>
<div>
    <form style="display: flex; justify-content: center; align-items: center;">
        <input type="text" name="movieName" placeholder="Search movie by name" style="padding: 10px; border: 2px solid #ccc; border-radius: 5px; margin-right: 10px; width: 60%; font-weight:bold;" autocomplete="off">
        <button type="submit" style="background-color: #007bff; border: none; color: white; padding: 10px 20px; border-radius: 5px; font-size: 1rem; ">Search</button>
    </form>
</div>
<br />
<table>
    <tr style="display:grid; grid-template-columns: repeat(4, 1fr); grid-template-rows: repeat(4, 1fr); grid-column-gap:135px;">
        @foreach (var movie in ViewBag.Key)
        {
            <form method="get" action="ShopCart">
                <td style="padding-top: 50px;">
                    <img src="~/css/images/@movie.Image" width="200" height="200" />
                    <h3 style="font-weight: bold;">@movie.Title</h3>
                    <h3 style="color:green;">@movie.Price$</h3>
                    <button style="color: white; background-color: orangered; border: none; border-radius: 30px; padding: 10px 15px; font-size: 1.5rem; font-weight: bold; box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3); transition: all 0.3s ease;">
                        🛒BUY NOW
                        <input type="hidden" name="movieTitle" value="@movie.Title"/>
                    </button>
                </td>
            </form>
        }
    </tr>
</table>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
