
@{
    ViewData["Title"] = "Paymnet";
}
<style>
    body {
        background-color: #f6f6f6;
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }
    a{
        font-weight: bold;
    }
    .container {
        max-width: 800px;
        margin: 0 auto;
        padding: 50px;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    form {
        display: flex;
        flex-direction: column;
        max-width: 500px;
        margin: 0 auto;
    }

    label {
        font-size: 1.2rem;
        font-weight: bold;
        margin-bottom: 5px;
    }

    input[type="text"],
    input[type="number"],
    input[type="email"],
    input[type="tel"],
    select,
    button {
        margin-bottom: 20px;
        padding: 10px;
        font-size: 1.2rem;
        border-radius: 5px;
        border: none;
    }

    input[type="text"],
    input[type="number"],
    input[type="email"],
    input[type="tel"],
    select {
        background-color: #f2f2f2;
        border: 1px solid #ccc;
    }

    button {
        background-color: #4CAF50;
        color: #fff;
        cursor: pointer;
        transition: background-color 0.2s;
    }

        button:hover {
            background-color: #3e8e41;
        }
</style>

<div class="container">
    <h1>Payment</h1>
    <form method="get" action="PaymentConfirmation">
        <label for="card-number">Card Number</label>
        <input type="text" required oninvalid="this.setCustomValidity('Please fill in this field!')" oninput="setCustomValidity('')" pattern="[0-9]{16}" maxlength="16" id="card-number" name="card_number" placeholder="Enter your card number - 16 digits code">
        <label for="expiration-date">Expiration Date</label>
        <input type="text" pattern="\d{2}/\d{2}" required id="expiration-date" minlength="5" maxlength="5" name="expiration_date" placeholder="MM/YY">
        <label for="security-code">Security Code</label>
        <input type="text" required oninvalid="this.setCustomValidity('Please fill in this field!')" oninput="setCustomValidity('')" minlength="3" pattern="[0-9]{3}" maxlength="3" id="security-code" name="security_code" placeholder="Enter security code - 3 digits code">
        <label for="name-on-card">Name on Card</label>
        <input type="text" required oninvalid="this.setCustomValidity('Please fill in this field!')" oninput="setCustomValidity('')" id="name-on-card" name="name_on_card" placeholder="Enter your name">
        <label for="billing-address">Billing Address</label>
        <input type="text" required oninvalid="this.setCustomValidity('Please fill in this field!')" oninput="setCustomValidity('')" id="billing-address" name="billing_address" placeholder="Enter your billing address">
        <label for="email">Email Address</label>
        <input type="email" required oninvalid="this.setCustomValidity('Please fill in this field!')" oninput="setCustomValidity('')" id="email" name="email" placeholder="Enter your email address">
        <label for="phone">Phone Number</label>
        <input type="tel" required oninvalid="this.setCustomValidity('Please fill in this field!')" oninput="setCustomValidity('')" pattern="[0-9]{10}" maxlength="10" id="phone" name="phone" placeholder="Enter your phone number - 10 digits">
        <input type="hidden" required oninvalid="this.setCustomValidity('Please fill in this field!')" oninput="setCustomValidity('')" value="@ViewBag.Price" name="Price" />
        <button type="submit">Submit Payment</button>
    </form>
</div>


